@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Kufam:ital,wght@0,400..900;1,400..900&family=Montserrat:wght@100..900&display=swap');

:root {
    --montserrat: "Montserrat", sans-serif;
    --krona: "Krona One", sans-serif;
    --kufam: "Kufam", sans-serif;
    --sidebar-width: 18.75vw;
  --track-width: 0.125vw;
  --indicator-size: 0.875vw;
  --gap-vertical: 1.75vw;
  --accent: #111;
  --muted: #9aa0a6;
  --bg: #f3f3f6;
}

body {
  margin: 0;
  padding: 0;
  background-color: #D4D5DE;
  overflow-x: hidden;
}



.circle-btn {
  position: fixed;
  bottom: 1.25vw;
  right: 1.25vw;
  width: 6.5vw;
  height: 6.5vw;
  border-radius: 50%;
  background: #2D2D2D;
  z-index: 1000;
  cursor: pointer;
    transition: background-color 0.4s ease;
}

.circle-center {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.circle-center img {
  width: 0.9vw;
  height: 0.9vw;
  transition: filter 0.4s ease;
}

.circle-text {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
  pointer-events: none;
}

.circle-text text {
  font-weight: 500;
  font-family: var(--montserrat);
  line-height: 114.2%;
  font-size: 1.5rem;
  letter-spacing: -4%;
    fill: #ffffff;
  transition: fill 0.4s ease;
}

.circle-btn:hover {
  background: #ffffff;
}

.circle-btn:hover .circle-text text {
  fill: #2D2D2D;
}

.circle-btn:hover .circle-center img {
  filter: invert(1);
}


.hero-block {
    display: flex;
  height: 29vw;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 0.875vw;
}

.comp-block {
  right: 0;
  top: 0;
  width: 30vw;
  height: 100%; 
  background-color: #D4D5DE;
  padding: 0px;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  margin-left: 0;
}

.fade-on-scroll {
  transition: opacity 0.4s ease;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  gap: 1.25vw; 
  padding-top: 0.813vw; 
  padding-right: 1.188vw;
}

.vertical-links {
  display: flex;
  flex-direction: column; 
}

.nav-link {
  font-size: 0.813vw;
    font-family: var(--montserrat);
    line-height: 99.9%;
    letter-spacing: -5%;
    font-style: italic;
  font-weight: 600;
  color: #82838A; 
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #2D2D2D; 
}

.nav-link.active {
  color: #2D2D2D; 
}

.telegram-link {
    font-family: var(--montserrat);
    font-size: 0.875vw;
    line-height: 113%;
  display: inline-flex;
  align-items: center;
  padding: 0.438vw 0.813vw; 
  border: 1px solid #2D2D2D; 
  border-radius: 1.468vw; 
  background-color: #D4D5DE; 
  color: #2D2D2D; 
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.telegram-link:hover {
  background-color: #2D2D2D; 
  color: #FFFFFF; 
}

.comp-block .logo-block {
  margin-left: 3vw;
  margin-top: 1.813vw; 
  margin-bottom: 18.081vw; 
}

.comp-block .logo-block img {
  width: 23vw;
  height: auto;
}

.hero-content {
  position: relative;
  display: flex;
  width: 70vw;
  height: 100%;
  margin: 0; 
  padding-top: 0.938vw;
  padding-left: 0.875vw;
  box-sizing: border-box;
  background-color: #D4D5DE;
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
}

.mute-btn {
  display: flex;
  position: absolute;
  width: 1.136vw;
  height: 1.163vw;
  flex: 0 0 auto;
  cursor: pointer;
  margin-left: 67vw;
  margin-top: 0.7vw;
}

.mute-img {
  width: 1.125vw;
  height: 1.125vw;
}

.play-btn {
    position: absolute;
    width: 3vw;
    height: 2.25vw;
  transform: translate(34vw, 13vw);
  z-index: 10; /* Чтобы кнопка была поверх других элементов */
  cursor: pointer;
}

.btn-play {
  width: 2.25vw;
  height: 2.25vw;
}




.video-block {
  position: absolute;
  margin-top: 31vw;
  z-index: 30;
}

.b-video {
  width: 23.375vw;
  height: 9.688vw;
}

.play-btn-2 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -20%); 
  z-index: 10; 
  cursor: pointer;
    width: 2vw;
  height: 2vw;
}

.btn-play2 {
  width: 2vw;
  height: 2vw;
}

.podpis {
  position: absolute; 
  bottom: 11.8vw; 
  color: #2D2D2D; 
  font-family: var(--montserrat);
  font-size: 1.25vw; 
  line-height: 113.9%;
  font-weight: 600;
  border-radius: 0.6vw; 
  letter-spacing: -0.02em;
}

.tegi-v {
  margin-top: 0.3vw;
  display: flex;
  justify-content: flex-end;
  gap: 1.2vw;
}

.tegv {
  font-family: var(--montserrat);
  font-size: 0.813vw;
  line-height: 114.2%;
  letter-spacing: -4%;
  font-weight: 500;
}




.case-wrapper{
  display:flex;
  align-items:flex-start;
  padding:0px;
}

/* Левая колонка — контент */
.case-left {
  width: 70vw;
  padding-left: 0.875vw;
  box-sizing: border-box;
} 

.case-section{
  position: relative;
  padding:0px;
  width: 100%;
  margin-bottom: 1.5vw;
}

.cs-1 {
    background-color: #F6F6F8;
    border-radius: 0.75vw;
    padding-left: 1.5vw;
    padding-top: 2.25vw;
    padding-bottom: 2.25vw;
    margin-bottom: 0.375vw;
}

.cs-1-2 {
  display: flex;
  box-sizing: border-box;
  width: 100%; /* Занимает всю ширину родителя */
  gap: 0.438vw;
}

.cs-1 h3 {
  font-family: var(--montserrat);
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 114.2%;
  letter-spacing: -3%;
  color: #2D2D2D;
  margin-top: 2.875vw;
}

.cs-2 {
    background-color: #F6F6F8;
    border-radius: 0.75vw;
    padding-left: 1.5vw;
    padding-top: 2.25vw;
    padding-bottom: 2.25vw;
    margin-bottom: 0.438vw;
}

.cs-2-2 {
  display: flex;
  box-sizing: border-box;
  width: 20vw;
  width: 100%; /* Занимает всю ширину родителя */
  gap: 0.438vw;
}

.cs-3 {
    background-color: #F6F6F8;
    border-radius: 0.75vw;
    padding-left: 1.5vw;
    padding-top: 2.25vw;
    padding-bottom: 2.25vw;
    margin-bottom: 0.438vw;
}

.cs-3-2 {
  display: flex;
  box-sizing: border-box;
  width: 100%; /* Занимает всю ширину родителя */
  gap: 0.438vw;
}

.pusto-img {
  width: 24.5%;
}

.foto1-s1 {
  width: 60%;
}

.foto2-s1 {
  width: 40%;
}

.fs-1 {
  width: 100%; /* Изображение не будет шире родителя */
  height: 100%;    /* Сохраняем пропорции */
  display: block;  /* Удаляем лишние отступы */
}

.fs-2 {
  width: 100%; /* Изображение не будет шире родителя */
  height: 100%;    /* Сохраняем пропорции */
  display: block;  /* Удаляем лишние отступы */
}

.case-section h2 {
  width: 37vw;
    font-family: var(--montserrat);
    font-size: 4vw;
    color: #2D2D2D;
    line-height: 100.9%;
    font-weight: 500;
    letter-spacing: -0.04em;
    margin-top: 0;
    margin-bottom: 2vw;
}

.case-section .p1 {
    width: 46vw;
    font-family: var(--montserrat);
    font-size: 1.25vw;
    color: #2D2D2D;
    line-height: 131%;
    font-weight: 450;
    letter-spacing: -0.02em;
}

.case-section .p2 {
    width: 46vw;
    font-family: var(--montserrat);
    font-size: 1.25vw;
    color: #2D2D2D;
    line-height: 131%;
    font-weight: 450;
    letter-spacing: -0.02em;
}

.title {
    flex-wrap: nowrap;
}

.contact-page {
  margin-left: 14px;
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.button-container {
  display: inline-flex;
  border-radius: 23.5px;
  overflow: hidden;
  position: relative;
  gap: 4px;
}

.button-left,
.button-right {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.button-left {
  line-height: 113.9%;
  letter-spacing: 0%;
  font-weight: 600;
  font-family: var(--montserrat);
  font-size: 14px;
  padding: 8.09px 20.18px;
  background-color: #2D2D2D;
  border-radius: 23.5px;
}

.button-right {
    padding: 7px 7px;
  background-color: #2D2D2D;
  border-radius: 23.5px;
}

/* Фоновый градиент (скрытый изначально) */
.button-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /* Двойная ширина для плавного перехода */
  height: 100%;
  background: linear-gradient(
    to right,
    #2D2D2D 0%,
    #2D2D2D 50%,
    transparent 50%,
    transparent 100%
  );
  z-index: 0;
  transition: transform 0.25s ease;
  transform: translateX(-50%); /* Сдвигаем влево (скрываем левую половину) */
}

/* При наведении — плавно сдвигаем градиент вправо */
.button-container:hover::before {
  transform: translateX(0); /* Возвращаем в исходное положение */
}

.contact-block {
  display: flex;
  align-items: center;
  font-family: var(--krona);
  text-align:left;
  margin-top: 7px;
  margin-left: 43px;
}

.contact-block p {
  line-height: 113.9%;
  margin-top: -3px;
  margin-bottom: 0px;
  font-size: 14px;
  color: #2D2D2D;
  margin-right: 20px;
}

.social-btn {
  line-height: 113.9%;
  text-decoration: none;
  font-family: var(--krona);
  color: #2D2D2D;
  padding: 8px 21.25px;
  background: #D4D5DE;
  border: 1px solid #2D2D2D;
  border-radius: 23.5px;
  font-size: 12px;
  cursor: pointer;
  margin: 0;
  transition: 
    color 0.3s ease,
    background-color 0.3s ease,
    transform 0.2s ease;
}

.social-btn:hover {
  background-color: #2D2D2D;
  color: #FFFFFF;
}



/* Правая колонка — навигация (sticky) */
.case-right{
  padding-top: 1vw;
  width: 30vw;
  position: sticky;
  top: 0vw;
  height: 51vw;
  align-self:flex-start;
}

/* Внутренний контейнер: трек слева, nav справа */
.nav-inner{
  padding-left: 3vw;
  display:flex;
  gap:1.125vw;
  height:100%;
  align-items:flex-start;
}

.nav-title-wrap {
  padding-left: 5vw;
  position: relative;
  width: 20vw;
}

.nav-title {
  font-weight: 700;
  font-family: var(--montserrat);
  text-transform: uppercase;
  font-size: 3vw;
  color: #2D2D2D;
  line-height: 120%;
  opacity: 0;
  transform: translateY(0.75vw);
  transition:
    opacity 0.35s ease,
    transform 0.35s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-title.active {
  opacity: 1;
  transform: translateY(0);
  position: absolute;
}


.more-proj {
  margin-top: 120px;
    width: 100%;
}

.zag-proj h3 {
  margin-top: 1.563vw;
  line-height: 114.2%;
  font-weight: 700;
  font-family: var(--montserrat);
  margin-bottom: 1.25vw;
  font-size: 2.5vw;
  color: #333333;
  padding-left: 0vw;
  padding-bottom: 0vw;
  text-transform: uppercase;
}


.zag-proj {
  display: flex;
  align-items: center;
  margin-left: 0.875vw;
}

.ar-cont {
  margin-top: 0.4vw;
  display: inline-block; /* Чтобы корректно работали размеры */
  transition: transform 0.3s ease; /* Плавный переход для масштабирования */
  display: flex;
  align-items: center;
}

.icon-wrap-1 {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:0.44vw;            
  box-sizing:border-box;    
  border:1px solid #2D2D2D;
  border-radius:2vw;
  margin-left: 2vw;
}

.icon-wrap-1 .arrow-icon-1 {
  width: 1vw;
  height: 1vw;
}

/* Эффекты при наведении */
.ar-cont:hover {
  transform: scale(1.1); /* Увеличиваем контейнер на 10 % */
}

.ar-cont:hover img {
  width: 1vw; /* Увеличиваем ширину стрелки */
  transform: scale(1.05); /* Дополнительно масштабируем изображение */
}

.card-proj-list {
  width: 98.5%;
  margin-left: 0.875vw;
  display: flex; /* Располагаем фото в ряд */
  justify-content: space-between; /* Распределяем фото с отступами */
  margin-bottom: 2.25vw; 
}

.photo-472 {
  width: 472px;
  height: 298px;
  object-fit: cover; /* Сохраняем пропорции фото */
}

.tooltip {
  font-family: var(--montserrat);
  font-weight:600;
  line-height: 113%;
  letter-spacing: 0%;
  position: fixed;
  background-color: #2D2D2D;
  color: white;
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 1.4;
  max-width: 300px;
  z-index: 1000;
  pointer-events: none; /* Чтобы не мешала кликам */
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Видимая подсказка */
.tooltip.show {
  opacity: 1;
}

.image-container {
  position: relative;
  overflow: hidden;          /* главное: обрезаем изображение за пределами контейнера */
  border-radius: 0.75vw;        /* если нужно закругление */
  display: block;
  width: 100%;
  height: 100%;
  margin-right: 0.375vw; /* Отступы между элементами */
}

/* картинка растягиваем по контейнеру и готовим к трансформации */
.image-container img {
  display: block;
  width: 100%;               /* заполняет контейнер по ширине */
  height: 100%;              /* заполняет контейнер по высоте */
  object-fit: cover;         /* сохраняет охват, без искажения */
  object-position: center;   /* центрируем содержимое при увеличении */
  transform-origin: center center; /* точка масштабирования */
  transition: transform 450ms cubic-bezier(.2,.8,.2,1), filter 300ms;
  will-change: transform;    /* hint браузеру для ускорения */
  backface-visibility: hidden;
}

/* сам эффект zoom — значение scale можно менять */
.image-container:hover img,
.image-container.zoom-active img { /* .zoom-active — для touch */
  transform: scale(1.12);    /* увеличиваем на 12% */
}

/* Группа кнопок внизу справа */
.button-group {
  position: absolute;
  bottom: 18.4vw;      /* Отступ от нижнего края картинки */
  left: 0.375vw;     /* Отступ от правого края картинки */
  display: flex;
  gap: 0.313vw;        /* Расстояние между кнопками */
  flex-direction:row; /* Кнопки вертикально */
}

.button-group-2 {
  margin-top: 37.7%;
  margin-left: 0.5%;
  position: absolute;
  display: flex;
  gap: 0.313vw;        /* Расстояние между кнопками */
  flex-direction:row; /* Кнопки вертикально */
}

/* Базовая стилизация кнопок */
.btn-drk {
  font-family: var(--montserrat);
  font-weight: 600;
  padding: 0.25vw 0.62vw;
  background-color: #2D2D2D;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0.563vw;
  font-size: 0.85vw;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.btn-drk:hover {
  background-color: #FFFFFF;
  color: #2D2D2D;
}

.btn-wht {
  font-family: var(--montserrat);
  font-weight: 600;
  padding: 0.25vw 0.62vw;
  background-color: #FFFFFF;
  color: #2D2D2D;
  text-decoration: none;
  border-radius: 0.563vw;
  font-size: 0.85vw;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.btn-wht:hover {
  background-color: #2D2D2D;
  color: #FFFFFF;
}

.btn-wht-2 {
  font-family: var(--montserrat);
  font-weight: 600;
  padding: 0.25vw 0.62vw;
  background-color: #FFFFFF;
  color: #2D2D2D;
  text-decoration: none;
  border-radius: 0.563vw;
  font-size: 0.85vw;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.btn-wht-2:hover {
  background-color: #2D2D2D;
  color: #FFFFFF;
}




.footer {
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  position: relative;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.top-section {
  height: 20vw;
  text-align: center; 
  margin-bottom: 35vh;
}

.small-text {
    display: inline-block;
    width: 11vw;
    text-align: center;
    font-family: var(--montserrat);
  font-size: 0.938vw;
  letter-spacing: -4%;
  color: #8E8E8E;
  line-height: 113.9%;
  margin-bottom: 1.5vw;
}

.actions {
    letter-spacing: -4%;
    line-height: 99%;
    font-family: var(--montserrat);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.563vw;
  font-size: 4vw;
  font-weight: 600;
}

.action {
  position: relative;
  display: block;
  width: fit-content;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.action::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.8s cubic-bezier(0.15, 0.85, 0.25, 1);
}

.action:hover::after {
  transform: scaleX(1);
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0;
}

.logo {
  transition: transform 0.3s ease, 0.3s ease;
  margin-left: 1.75vw;
  margin-bottom: 0.739vw;
    height: 2.177vw;
    width: 4.828vw;
}

.logo:hover {
  transform: scale(1.2);
}

.vertical-links-2 {
  display: flex;
  flex-direction: column; 
  margin-bottom: 1vw;
  margin-left: 45vw;
}

.nav-link-2 {
  font-size: 0.813vw;
  font-family: var(--montserrat);
  line-height: 99.9%;
  letter-spacing: -5%;
  font-style: italic;
  font-weight: 600;
  color: #82838A; 
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link-2:hover {
  color: #FFFFFF; 
}

.nav-link-2.active {
  color: #FFFFFF; 
}

.right-block {
  margin: 0;
 height: 32px;
}

.telegram-link-2 {
    font-family: var(--montserrat);
    font-size: 0.875vw;
    line-height: 113%;
  display: inline-flex;
  align-items: flex-end;
  padding: 0.438vw 0.813vw; 
  border: 1px solid #FFFFFF; 
  border-radius: 1.468vw; 
  background-color: #000000; 
  color: #FFFFFF; 
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 1.375vw;
  margin-bottom: 0.666vw;
}

.telegram-link-2:hover {
  background-color: #FFFFFF; 
  color: #2D2D2D; 
}